<html>
<title>SimpleTeX -- Beta Sign Up</title>
<% content_for :start_opt do %>
<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='1633613805',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return c.substring(i+n.
length+1,j<0?c.length:j)}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script>
<!-- End of Google Website Optimizer Control Script -->
<% end %>
<% content_for :body do %>
<body style="text-align: center">
<div style="width:600px; text-align: left; margin-right: auto; margin-left: auto">
<center><h1><span class=tex>SimpleT<sub>E</sub>X</span></h1>
<h2>The Best Way to Author Scientific Documents on the Web</h2></center>

<p><span class=tex>SimpleT<sub>E</sub>X</span> makes creating, sharing,
and editing <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span> documents
easy. For free you can:

<ul>
  <li>Edit and view your documents using your web browser.</li>
  <li>Invite others to review your documents.</li>
  <li>Uploaded images, charts, and files to embed in your
  document.</li>
  <li>Create bibliographies with
  <span class=tex>BibT<sub>E</sub>X</span> support.</li>
</ul>
  
<p>In addition, paid subscribers get:

<ul>
<script>utmx_section("Premium Features")</script>
<li>Private, access-controlled document source. You control who can read or modify your documents. </li>
<li>Real-time, collaborative editing and offline Git/SVN integration   with invited users give you the flexibility to collaborate your    way.</li>
<li>Automatic hosting of your PDF or PostScript documents.</li>
<li>Customizable web site for each <span class=tex>SimpleT<sub>E</sub>X</span> document.</li>
<li>Install your own packages, styles, fonts and more -- customize   <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span> for each document.</li>
<li>Templates for upcoming conferences in your field </li>
<li>Custom pre/post-processing pipeline.</li>
<li>Automatic downloadable <span class=tex>BibT<sub>E</sub>X</span> bibliography for your publications.</li>
<li>Automatic publications index of your <span class=tex>SimpleT<sub>E</sub>X</span> documents.</li>
</noscript>
</ul>
 
</div>
</body>
<% end %>
<% content_for :end_opt do %>
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-81888-4");
gwoTracker._trackPageview("/1633613805/test");
}catch(err){}</script>
<!-- End of Google Website Optimizer Tracking Script -->
<% end %>

