<html>
<title>SimpleTeX -- Beta Sign up</title>
<% content_for :body do %>
<body style="text-align: center">
<div style="width:600px; text-align: left; margin-right: auto; margin-left: auto">
<center><h1><span class=tex>SimpleT<sub>E</sub>X</span></h1>
<h2>The Best Way to Author Scientific Documents on the Web</h2></center>

Thanks for registering!
</div>
</body>
<% end %>
<% content_for :opt_end do %>
<!-- Google Website Optimizer Conversion Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-81888-4");
gwoTracker._trackPageview("/1633613805/goal");
}catch(err){}</script>
<!-- End of Google Website Optimizer Conversion Script -->
<% end %>
