/* From http://edward.oconnor.cx/2007/08/tex-poshlet */
.tex, .latex, .tex sub, .latex sub {
    font-family: 'IM Fell Great Primer', serif;
    font-style: normal;
    text-shadow: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1em;
}

.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.latex sub, .tex sub {
    vertical-align: -0.25em;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

body {
    font-family: 'Cardo', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1em;
}

h2 { line-height: 1.05em }
